<main>
    <div class="container-fluid">

        <div class="section">

            <div class="row wave-background" style="padding-bottom: 25px;">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 center-content mt-auto mb-auto">
                    
                    <img src="assets/img/duitLogoGreen.png" class="img-duitLogo" alt="">
                    <p style="font-weight: 600;">Duit es una plataforma de comercio online, donde no solo puedes buscar
                        productos, sino, !crear tu propia página web competitiva!</p>
                    <button class="btn btn-green">Explora nuestros sitios</button>
                </div>
                <div class="d-none d-sm-block col-md-6 col-lg-6 col-xl-6">
                    <form>
                        <h3>Registrate</h3>
                        <p>experimenta los beneficios que nuestra plataforma te ofrece.</p>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
    
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" class="form-control" id="apellido">
                        </div>
    
                        <div class="form-group">
                            <label for="correo">Correo:</label>
                            <input type="email" class="form-control" id="correo">
                        </div>
    
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password">
                        </div>
    
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="terminos">
                            <label for="terminos">Acepto terminos y condiciones</label>
                        </div>
    
                        <div style="text-align: end;">
                            <button class="btn btn-green" type="button">Registrarme</button>
                        </div>
    
                    </form>
                </div>
            </div>   

        </div>
        
        <div class="section">
            <div class="row">
                <div class="col-12 center-content mt-5 mb-4">
                    <h3>Busca y compra en linea en las empresas
                        de nuestros usuarios registrados de manera
                        segura</h3>
                </div>

                <div class="center-content mb-5 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <img src="assets/img/screenshotsAPI/wordpressSS.png" class="img-cover" width="75%" height="500px">
                </div>

                <div class="center-content mb-5 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <img src="assets/img/screenshotsAPI/mobiriseSS.png" class="img-cover" width="75%" height="500px">
                </div>
                <!-- assets/img/screenshotsAPI/shopifySS.png -->
                <div class="center-content mb-5 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <img src="assets/img/screenshotsAPI/shopifySS.png" class="img-cover" width="75%" height="500px">
                </div>

                

            </div>
        </div>

        <!-- waveDown-background -->
        <div class="section">
            <div class="row mb-5">

                <div class="col-12">
                    <h3 class="center-content">¿Eres dueño de un negocio?
                        digitaliza tu empresa creando una página web en nuestra plataforma
                        con distintos planes que te daran distintos beneficios.</h3>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 center-content">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Basico</div>
                            <div class="card-subtitle">Promoción de tus servicios de manera permanente</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <span class="currency">L.</span><span class="value">0</span>
                                <div class="frequency">mensualmente</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Creación de sitio web.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i><div class="media-body">Sin limite de contenido multimedia.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i><div class="media-body">Sin limite de número de páginas.</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="#request">SOLICITAR</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 center-content">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">MEDIO</div>
                            <div class="card-subtitle">Promoción de tus servicios de manera permanente</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <span class="currency">L.</span><span class="value">149</span>
                                <div class="frequency">mensualmente</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Creación de sitio web.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Sin limite de contenido multimedia.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-times"></i><div class="media-body">Sin limite de número de páginas.</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="#request">SOLICITAR</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 center-content">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Avanzado</div>
                            <div class="card-subtitle">Promoción de tus servicios de manera permanente</div>
                            <hr class="cell-divide-hr">
                            <div class="price">
                                <span class="currency">L.</span><span class="value">200</span>
                                <div class="frequency">mensualmente</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Creación de sitio web.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Sin limite de contenido multimedia.</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Sin limite de número de páginas.</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="#request">SOLICITAR</a>
                            </div>
                        </div>
                    </div>
                    
                </div>


            </div>
        </div>



    </div>

    <footer>Mario Rosales</footer>
</main>
