form{
    background: #effffb;
    width: 75%;
    padding: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}

.btn-green {
    background-color: #50d890;
    color: #0B0633;
    font-weight: 500;
}